<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Tracker Room</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
      #map {
        height: 80vh;
      }
    </style>
  </head>
  <body>
    <h1>Live Tracker Room</h1>
    <div id="map"></div>
    <div id="roomLink">
      <p>Room ID: <%= roomId %></p>
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const map = L.map("map").setView([0, 0], 2);
      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(
        map
      );

      const socket = io();
      socket.emit("join-room", "<%= roomId %>");

      let myMarker = null;
      let isFirstUpdate = true;
      const markers = {};

      function updateUserMarker(latitude, longitude) {
        if (myMarker) {
          myMarker.setLatLng([latitude, longitude]);
        } else {
          myMarker = L.marker([latitude, longitude]).addTo(map);
        }
        if (isFirstUpdate) {
          map.setView([latitude, longitude], 16);
          isFirstUpdate = false;
        }
      }

      socket.on("location", (data) => {
        const { id, latitude, longitude } = data;
        if (id !== socket.id) {
          if (markers[id]) {
            markers[id].setLatLng([latitude, longitude]);
          } else {
            markers[id] = L.marker([latitude, longitude]).addTo(map);
          }
        }
      });

      socket.on("user-disconnected", (id) => {
        if (markers[id]) {
          map.removeLayer(markers[id]);
          delete markers[id];
        }
      });

      setInterval(() => {
        navigator.geolocation.getCurrentPosition(
          (position) => {
            const { latitude, longitude } = position.coords;
            socket.emit("send-location", {
              roomId: "<%= roomId %>",
              latitude,
              longitude,
            });
            updateUserMarker(latitude, longitude);
          },
          (error) => {
            console.error("Geolocation error:", error);
          },
          {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0,
          }
        );
      }, 5000);
    </script>
  </body>
</html>
