<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Live Tracker Room</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
      #map {
        height: 80vh;
      }
    </style>
  </head>
  <body>
    <h1>Live Tracker Room</h1>
    <div id="map"></div>
    <div id="roomLink">
      <p>Room ID: <%= roomId %></p>
    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
